.Navbar{
    background-color: brown;
    color:white;
    max-height: 200px;
    min-height: 4rem;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}
.Navbar p{
    margin: 0px;
}

.Navbar h3{
    margin: 0px;
    padding: 1rem;
}
.Navbar h3:hover{
    background-color: rgb(123, 39, 39);
}